body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

header {
  text-align: center;
  padding: 50px 0;
}

header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

section {
  padding: 50px;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  }
  
